<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To-Do List</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form id="main-container" action="/add-tasks" method="POST">
       <div id="heading">
        <h1>TODO App</h1>
       </div> 
       <div class="description">
           <div class="label">
               <h4>Description</h4>
            </div>
            <div class="input">
                <input type="text" placeholder="What do you need to do" name="description">
            </div>
       </div>
       <div class="description">
           <div class="category-div">
              <div class="label"><h4>Category</h4></div> 
               <select class="input" id="category" name="category">
                 <option value="Choose">Choose a Category</option>
                 <option value="Personal">Personal</option>
                 <option value="Work">Work</option>
                 <option value="School">School</option>
                 <option value="Cleaning">Cleaning</option>
                 <option value="Other">Other</option>
               </select>
           </div>
           <div class="category-div">
            <div class="label"><h4>Due date</h4></div> 
            <div class="input">
                    <input type="date" name="date" id="date">
                </div>
           </div>
       </div>
       <div id="buttons-div">
           <button type="submit" style="background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);background: linear-gradient(to right, #4A00E0, #8E2DE2); 
           "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
          </svg>&nbsp<h2>Add Task</h2></button>
           <button type="submit" formaction="/delete-tasks"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>&nbsp<h2>Delete Task</h2></button>
       </div>
       <div id="list-div">
        <ul>
            <% for (let i of tasklist) { %>
                <li>
                    <input type="checkbox" name="checkbox" id="" value="<%= i._id %>" class="checkboxes">
                    <h3 id="<%= i %>"> <%= i.description %> </h3>
                    <br>
                    <h5><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                        <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg> <%= i.date %> </h5>

                    <% if(i.category!="Choose"){ %>
                        <div class="category-show <%= i.category %>"><%= i.category %></div>
                    <%}%>
                </li>
            <%}%>
        </ul>
       </div>
    </form>

</body>
</html>